@charset "UTF-8";

.todo-schedule{

  .date-title{
    background: #EFE;
    font-size: 20px;
    text-align: center;
  }
  .date-content{
    background: #fef;
    font-size: 18px;
    text-align: center;
  }

}

.todo-schedule-detail{

}
