@charset "UTF-8";

.framework-picker-up {
  -webkit-animation: framework-picker-up 500ms ease;
}
.framework-picker-down{
  -webkit-animation: framework-picker-down 500ms ease;
}
.framework-picker-mask-show {
  -webkit-animation: framework-picker-mask-show 500ms ease;
}
.framework-picker-mask-hide{
  -webkit-animation: framework-picker-mask-hide 500ms ease;
}
.item-picker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 6;

}
.picker-container {
  position: fixed;
  width: 100%;
  height: 290px;
  bottom: 0;
  text-align: center;
  z-index: 6;

  .picker-title {
    font-size: $font-large;
    position: absolute;
    top: 0;
    line-height: 40px;
    width: 100%;
    background: $title-background-color;
    padding: 0;
    .col{
      padding: 0;
    }
  }
  .picker-title-text{
    font-size: 16px;
    padding: 0;
  }
  .pick-btn {
    padding: 5px 10px;
    line-height: 30px;
    color: #999;
  }
  .item-scroll {
    border-top: $default-border;
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: $default1-background-color;
    line-height: 30px;
    .pick-item{
      border-bottom: $default-border;
      padding: 5px 0;
      background: $list-item-background-color;
    }
  }
}
