<ion-view view-title="日程列表">
  <ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">ToDo主题</span>
        <input type="text"placeholder="John">
      </label>
      <div class="item item-divider">
        是否提醒
      </div>
      <ion-radio name="remind" value='1' ng-model="datetodo.remind">是</ion-radio>
      <ion-radio name="remind" value='0' ng-model="datetodo.remind">否</ion-radio>
      <label class="item item-input item-stacked-label">
        <span class="input-label">主题描述</span>
        <textarea placeholder="todo……" ng-model="datetodo.todo"></textarea>
      </label>
    </div>
    <div class="bar bar-balanced" ng-click="submit()"><h1 class="title">确定</h1></div>
  </ion-content>
</ion-view>
