/* Empty. Add your own CSS if you like */
body{
	font-family: "Microsoft YaHei";
}
.msg{

}
.msg-left{
	float: left;
}
.msg-right{
	float: left;
	padding-left: 15px;
}
.msg-right-up{
	font-size: 16px;
}
.msg-right-down{
	font-size: 12px;
}
.font-icon{
	color:#FFF;
	padding:13px;
    background:#FC9; 
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius:60px;
    font-size: 20px;
    width: 45px;
    height: 45px;
    display:inline-block;
}
.font-icon-msg{
	margin-left: -20px;
	position: relative;
	top: -18px;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
	height:16px;
	width:16px;
	background:red;
	display:inline-block;
	line-height:14px;
}
.font-icon-msg-num{
	height:16px;
	width:16px;
	color:#fff;
	font-size: 8px;
	display:inline-block;
	text-align: center;

}
.date-title{
	background: #EFE;
	font-size: 20px;
	text-align: center;
}
.date-content{
	background: #fef;
	font-size: 18px;
	text-align: center;
}

